@media (max-width: 768px) {}

* {
    margin: 0;
    padding: 0;
}

#navbar {
    position: fixed;
    background-color: pink;
    width: 100%;
    z-index: 2;
}

#welcome-container {
    width: 70vw;
    height: 100vh;
    overflow: hidden;
}

#welcome {
    width: 70vw;
    height: 100vh;
    background-image: url(Images/Banner01.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom -2vw right -11vw;
    transition: all 300ms ease-in-out;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#welcome:hover {
    width: 70vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(Images/Banner02.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom -2vw right -11vw;
    animation: pulse 1s linear infinite;
    cursor: pointer;
}

.left-side-decoration {
    background-image: url(Images/Lace.png);
    background-size: contain;
    background-position: center;
    position: absolute;
    width: 6vw;
    height: 50.1vw;
    top: 0;
    left: -1.5vw;
    z-index: 1;
}

.right-side-decoration {
    background-image: url(Images/Lace.png);
    background-size: contain;
    background-position: center;
    position: absolute;
    width: 6vw;
    height: 50.1vw;
    top: 0;
    right: -1.5vw;
    z-index: 1;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 70vw;
}



/*ABOUT*/
.about {
    height: 50vw;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

}

.about-info {
    width: 100%;
    height: 19vw;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    background-image: url(Images/About-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-info p {
    font-style: italic;
}

.about-center {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;  
    transform: translateY(-8vw);
    z-index: 1;
}

.openers {
    margin: 0px 10px;
}

.portrait {
    position: relative;
    background-image: url(Images/Portrait.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 13.2vw;
    width: 25vw;
}

.right-portrait {
    height: 9vw;
    width: 5vw;
    background-image: url(Images/Creativity-trinket.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.left-portrait {
    height: 9vw;
    width: 5vw;
    background-image: url(Images/Logic-trinket.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.about-left {
    height: 85%;
    width: 50%;
    position: relative;
    background-image: url(Images/Logic-background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-left h2 {
    float: left;
    margin-right: 40px;
}

.about-left-text{
    width: 25vw;
}


.about-right {
    height: 85%;
    width: 50%;
    position: relative;
    background-image: url(Images/Creativity-background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-right h2 {
    float: right;
}

.about-right-text{
    width: 25vw;
}

.fade-in-trinket {
    background-image: url(Images/Fade-in-trinket.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 3vw;
    height: 3.8vw;
    position: absolute;
    top: 1.8vw;
    left: 1vw;
    transition: all 300ms ease-in-out;
    filter: opacity(0.8);
}

.fade-in-trinket:hover {
    opacity: 0;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

/*END ABOUT*/

.divisor,
.divisor-margin {
    width: 100%;
    height: 5.9vw;
    background-image: url(Images/Divider.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.divisor-margin {
    margin-bottom: 2vw;
}

/*PROJECTS*/

.small-project {
    width: 7.5vw;
    height: 7.5vw;
    cursor: pointer;
    z-index: 2;
}

.small-project a {
    width: 100%;
    height: 100%;
    display: block;
}

.medium-project {
    width: 9vw;
    height: 9vw;
    cursor: pointer;
    z-index: 2;
}

.medium-project a {
    width: 100%;
    height: 100%;
    display: block;
}

.important-project {
    width: 13vw;
    height: 13vw;
    cursor: pointer;
    z-index: 2;
}

.important-project a {
    width: 100%;
    height: 100%;
    display: block;
}

.left-top-description {
    width: 19vw;
    height: 19vw;
    top: 4vw;
    left: 3vw;
    position: absolute;
    opacity: 0;
    transition: all 200ms ease-in-out;
    z-index: 1;
}

.right-top-description {
    width: 19vw;
    height: 19vw;
    top: 2vw;
    right: 2vw;
    position: absolute;
    opacity: 0;
    transition: all 200ms ease-in-out;
    z-index: 1;
}

.left-bottom-description {
    width: 19vw;
    height: 19vw;
    bottom: 4vw;
    left: 3vw;
    position: absolute;
    opacity: 0;
    transition: all 200ms ease-in-out;
    z-index: 1;
}

.right-bottom-description {
    width: 19vw;
    height: 19vw;
    bottom: 4vw;
    right: 3vw;
    position: absolute;
    opacity: 0;
    transition: all 200ms ease-in-out;
    z-index: 1;
}

.projects-container {
    height: 100%;
    background-image: url(Images/Connections.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.projects_backgrounds {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: all 500ms ease-in-out;
}

.project-container {
    width: 16.6%;
    height: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.project-container:has(.magazine-project) {
    justify-content: flex-start;
    align-items: flex-start;
}

.project-container:has(.product-project) {
    justify-content: flex-end;
    align-items: flex-start;
}

.project-container:has(.registration-project) {
    align-items: flex-end;
}

.project-container:has(.survey-project) {
    justify-content: flex-end;
}

.project-container:has(.tribute-project) {
    justify-content: flex-end;
    align-items: flex-end;
}

.project-container:has(.majesties-project) {
    align-items: flex-end;
}

.project-container:has(.ferris-wheel-project) {
    align-items: flex-start;
    justify-content: flex-end;
}

.project-container:has(.nutrition-project) {
    align-items: flex-end;
    justify-content: flex-start;
}

.project-container:has(.piano-project) {
    align-items: flex-start;
}

.project-container:has(.documentation-project) {
    align-items: flex-end;
}

.project-container:has(.memotest-project) {
    justify-content: flex-end;
    align-items: flex-end;
}



.project-title {
    width: 6vw;
    height: 1.5vw;
    background-color: grey;
    border-radius: 0.3vw;
}

.project-title span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.magazine-project {
    background-image: url(Images/Magazine_project.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-project {
    background-image: url(Images/Product_project.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.lps-project {
    background-image: url(Images/LPS_project.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.registration-project {
    background-image: url(Images/Registration_project.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.survey-project {
    background-image: url(Images/Survey_project.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.beautymorphosy-project {
    background-image: url(Images/Beautymorphosy.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tribute-project {
    background-image: url(Images/Tribute_project.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ferris-wheel-project {
    background-image: url(Images/FerrisWheel.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nutrition-project {
    background-image: url(Images/NutritionLabel_project.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.piano-project {
    background-image: url(Images/Piano_project.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.documentation-project {
    background-image: url(Images/Hellbox_project.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.memotest-project {
    background-image: url(Images/memotest_project.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.majesties-project {
    background-image: url(Images/Majesties_project.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*DESCRIPTIONS*/

.memotest-project-description {
    background-image: url(Images/memotest_description.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ferris-project-description {
    background-image: url(Images/ferris_description.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flexbox-project-description {
    background-image: url(Images/Hellbox_descriptions.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.piano-project-description {
    background-image: url(Images/piano_description.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nutrition-project-description {
    background-image: url(Images/nutrition_description.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.beautymorphosy-project-description {
    background-image: url(Images/Beautymorphosy_description.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tribute-project-description {
    background-image: url(Images/tribute_description.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.survey-project-description {
    background-image: url(Images/Survey_description.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.registration-project-description {
    background-image: url(Images/registration_description.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.lps-project-description {
    background-image: url(Images/lps_description.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.majesties-project-description {
    background-image: url(Images/Majesties_description.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.product-project-description {
    background-image: url(Images/product_description.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.magazine-project-description {
    background-image: url(Images/magazine_description.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/*END DESCRIPTIONS*/

/*BACKGROUNDS PROJECTS*/

.projects-container:has(.magazine-project:hover)>.project-container :not(.magazine),
.projects-container:has(.product-project:hover)>.project-container :not(.product),
.projects-container:has(.lps-project:hover)>.project-container :not(.lps),
.projects-container:has(.registration-project:hover)>.project-container :not(.registration),
.projects-container:has(.survey-project:hover)>.project-container :not(.survey),
.projects-container:has(.beautymorphosy-project:hover)>.project-container :not(.beautymorphosy),
.projects-container:has(.tribute-project:hover)>.project-container :not(.tribute),
.projects-container:has(.majesties-project:hover)>.project-container :not(.majesties),
.projects-container:has(.ferris-wheel-project:hover)>.project-container :not(.ferris),
.projects-container:has(.nutrition-project:hover)>.project-container :not(.nutrition),
.projects-container:has(.piano-project:hover)>.project-container :not(.piano),
.projects-container:has(.documentation-project:hover)>.project-container :not(.documentation),
.projects-container:has(.memotest-project:hover)>.project-container :not(.memotest) {
    opacity: 0;
}

.projects-container:has(.memotest-project:hover)>.project-container .memotest-project-description,
.projects-container:has(.ferris-wheel-project:hover)>.project-container .ferris-project-description,
.projects-container:has(.documentation-project:hover)>.project-container .flexbox-project-description,
.projects-container:has(.piano-project:hover)>.project-container .piano-project-description,
.projects-container:has(.nutrition-project:hover)>.project-container .nutrition-project-description,
.projects-container:has(.beautymorphosy-project:hover)>.project-container .beautymorphosy-project-description,
.projects-container:has(.tribute-project:hover)>.project-container .tribute-project-description,

.projects-container:has(.survey-project:hover)>.project-container .survey-project-description,
.projects-container:has(.registration-project:hover)>.project-container .registration-project-description,
.projects-container:has(.lps-project:hover)>.project-container .lps-project-description,
.projects-container:has(.majesties-project:hover)>.project-container .majesties-project-description,

.projects-container:has(.product-project:hover)>.project-container .product-project-description,
.projects-container:has(.magazine-project:hover)>.project-container .magazine-project-description {
    opacity: 1;
    transition: all 500ms ease-in-out;
}

.projects-container:has(.magazine-project:hover)>div.projects_backgrounds {
    background-image: url(Images/Back-magazine.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    filter: blur(9px);
    transition: all 300ms ease-in-out;
}

.projects-container:has(.product-project:hover)>div.projects_backgrounds {
    background-image: url(Images/Back-landing.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    filter: blur(9px);
    transition: all 300ms ease-in-out;
}

.projects-container:has(.lps-project:hover)>div.projects_backgrounds {
    background-image: url(Images/Back-LPS.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    filter: blur(9px);
    transition: all 300ms ease-in-out;
}

.projects-container:has(.registration-project:hover)>div.projects_backgrounds {
    background-image: url(Images/Back-registration.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    filter: blur(9px);
    transition: all 300ms ease-in-out;
}

.projects-container:has(.survey-project:hover)>div.projects_backgrounds {
    background-image: url(Images/Back-survey.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    filter: blur(9px);
    transition: all 300ms ease-in-out;
}

.projects-container:has(.beautymorphosy-project:hover)>div.projects_backgrounds {
    background-image: url(Images/Back-beautymorphosy.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    filter: blur(9px);
    transition: all 300ms ease-in-out;
}

.projects-container:has(.tribute-project:hover)>div.projects_backgrounds {
    background-image: url(Images/Back-tribute.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    filter: blur(9px);
    transition: all 300ms ease-in-out;
}

.projects-container:has(.ferris-wheel-project:hover)>div.projects_backgrounds {
    background-image: url(Images/Back-ferris.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    filter: blur(9px);
    transition: all 300ms ease-in-out;
}

.projects-container:has(.nutrition-project:hover)>div.projects_backgrounds {
    background-image: url(Images/Back-nutrition.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    filter: blur(9px);
    transition: all 300ms ease-in-out;
}

.projects-container:has(.piano-project:hover)>div.projects_backgrounds {
    background-image: url(Images/Back-piano.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    filter: blur(9px);
    transition: all 300ms ease-in-out;
}

.projects-container:has(.documentation-project:hover)>div.projects_backgrounds {
    background-image: url(Images/Back-flexbox.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    filter: blur(9px);
    transition: all 300ms ease-in-out;
}

.projects-container:has(.memotest-project:hover)>div.projects_backgrounds {
    background-image: url(Images/Back-memotest.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    filter: blur(9px);
    transition: all 300ms ease-in-out;
}

.projects-container:has(.majesties-project:hover)>div.projects_backgrounds {
    background-image: url(Images/Back-majesties.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    filter: blur(9px);
    transition: all 300ms ease-in-out;
}


/*END PROJECTS*/

/*ANIMATIONS*/
@keyframes pulse {
    0% {
        transform: scale(100%);
    }

    15% {
        transform: scale(102%);
    }

    30% {
        transform: scale(100%);
    }

    45% {
        transform: scale(102%);
    }

    100% {
        transform: scale(100%);
    }
}