@media (max-width: 768px) {
    
}

* {
    margin: 0;
    padding: 0;
}

#navbar {
    position: fixed;
    background-color: pink;
    width: 100%;
    z-index: 2;
}

#welcome-container {
    width: 70vw;
    height: 100vh;
    overflow: hidden;
}

#welcome {
    width: 70vw;
    height: 100vh;
    background-image: url(Images/Banner01.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom -2vw center;
    transition: all 300ms ease-in-out;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#welcome:hover {
    width: 70vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(Images/Banner02.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom -2vw center;
    animation: pulse 1s linear infinite;
    cursor: pointer;
}

.left-side-decoration {
    background-image: url(Images/Lace.png);
    background-size: contain;
    background-position: center;
    position: absolute;
    width: 6vw;
    height: 80vw;
    top: 0;
    left:-1.5vw;
    z-index: 1;
}

.right-side-decoration {
    background-image: url(Images/Lace.png);
    background-size: contain;
    background-position: center;
    position: absolute;
    width: 6vw;
    height: 80vw;
    top: 0;
    right: -1.5vw;
    z-index: 1;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 70vw;
}



/*ABOUT*/
.about {
    height: 50vw;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.about-info {
    background-color: rgb(95, 35, 35);
    height: 22vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.about-info p {
    font-style: italic;
}

.about-center {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transform: translateY(-22px);
    z-index: 1;
}

.openers {
    margin: 0px 10px;
}

.portrait {
    position: relative;
    background-image: url(Images/Portrait.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 13vw;
    width: 8vw;
}

.right-portrait {
    height: 9vw;
    width: 5vw;
    background-image: url(Images/Creativity-trinket.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.left-portrait {
    height: 9vw;
    width: 5vw;
    background-image: url(Images/Logic-trinket.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.portrait-profession {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.about-left {
    height: 100%;
    width: 120vw;
    background-color: burlywood;
    padding-top: 8vw;
    padding-left: 5vw;
    padding-right: 3vw;
    position: relative;
}

.about-left h2 {
    float: left;
    margin-right: 40px;
}

.about-right {
    height: 100%;
    width: 120vw;
    background-color: brown;
    padding-top: 8vw;
    padding-right: 5vw;
    padding-left: 3vw;
    position: relative;
}

.about-right h2 {
    float: right;
}

.fade-in-trinket {
    background-image: url(Images/Fade-in-trinket.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 3vw;
    height: 3.8vw;
    position: absolute;
    top: 1.8vw;
    left: 1vw;
    transition: all 300ms ease-in-out;
}

.fade-in-trinket:hover {
    opacity: 0;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

/*END ABOUT*/

/*ANIMATIONS*/
@keyframes pulse {
    0% {
        transform: scale(100%);
    }

    15% {
        transform: scale(102%);
    }

    30% {
        transform: scale(100%);
    }

    45% {
        transform: scale(102%);
    }

    100% {
        transform: scale(100%);
    }
}